@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Web API, Web Client and furthermore Auth0.</h1>
    <p>This is a project made to practice the above mentioned. </p>
    <p>It's made for a school project, so that I can become more familiar with the concepts of everything.</p>
    <p>Start by creating a new To-do item: <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create ToDo</button>
</div>

<form method="post">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create a new To-do</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Name:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" asp-for="@Model.TodoItem.Name" placeholder="Enter name..." id="Name"/>
                            <br />
                            <span class="text-danger" asp-validation-for="@Model.TodoItem.Name"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Description:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" asp-for="@Model.TodoItem.Description" placeholder="Enter description..." />
                            <br />
                            <span class="text-danger" asp-validation-for="@Model.TodoItem.Description"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Priority:</label>
                        </div>
                        <div class="col-8">
                            <select asp-for="@Model.TodoItem.Priority" id="Priority" 
                                    class="form-control">
                                <option value="0">High</option>
                                <option value="1">Normal</option>
                                <option value="2">Low</option>
                            </select>
                            <br />
                            <span class="text-danger" asp-validation-for="@Model.TodoItem.Priority"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Completed:</label>
                        </div>
                        <div class="col-8">
                            <input type="checkbox" asp-for="@Model.TodoItem.Completed">
                        </div>
                    </div>      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>