@page
@model ToDo_WebClient.Pages.Todo.ToDoItemsModel
@{
    ViewData["Title"] = "List of To do items";
}

<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>To do items</h1>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create ToDo</button>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Completed</th>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Creation Time</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.TodoItems is not null)
                {
                    @foreach (var item in Model.TodoItems)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="isCompleted" asp-for="@item.Completed" />
                            </td>

                            <td>@item.Name</td>
                            <td>@item.Priority</td>
                            <td>@item.CreatedTime</td>
                            <td>
                                <a asp-page="/Todo/EditTodo" asp-route-TodoId="@item.ID">@item.Description</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- MODAL -->
<form method="post">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create a new To-do</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Name:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" asp-for="@Model.TodoItem.Name" placeholder="Enter name..." id="Name" />
                            <br />
                            <span class="text-danger" asp-validation-for="@Model.TodoItem.Name"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Description:</label>
                        </div>
                        <div class="col-8">
                            <input type="text" asp-for="@Model.TodoItem.Description" placeholder="Enter description..." />
                            <br />
                            <span class="text-danger" asp-validation-for="@Model.TodoItem.Description"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Priority:</label>
                        </div>
                        <div class="col-8">
                            <select asp-for="@Model.TodoItem.Priority" id="Priority"
                                    class="form-control">
                                <option value="0">High</option>
                                <option value="1">Normal</option>
                                <option value="2">Low</option>
                            </select>
                            <br />
                            <span class="text-danger" asp-validation-for="@Model.TodoItem.Priority"></span>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Completed:</label>
                        </div>
                        <div class="col-8">
                            <input type="checkbox" asp-for="@Model.TodoItem.Completed">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>